#--------------------------------------------------------------------------------
# [Author]  Masayuki Onishi
# [History] Ver 1.0 10 JUL 2016 initial for Ubuntu 14.04
#--------------------------------------------------------------------------------
# [Function]
#     Template for site proxy configuration.
#--------------------------------------------------------------------------------

"#--------------------------------------------------------------------------------"
"# Proxy"
"#--------------------------------------------------------------------------------"
export http_proxy="http://${PROXY_HOST}:${PROXY_PORT}"
export https_proxy="http://${PROXY_HOST}:${PROXY_PORT}"
export no_proxy="${NO_PROXY_HOSTS}"',localhost,127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,$(hostname)'
